.span8
  .row
    .span8
      %h3 I Love Ruby Because ..
      = form_for @letter do |f|
        = f.text_area :description, class: 'reasonText'
        .markTest.pull-left
          = link_to "Markdown supported", "http://daringfireball.net/projects/markdown/"
        = f.submit 'Update', class: 'btn primary pull-right'

.span1 &nbsp;