// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./actiontext.scss";

.extra-top-margin{
  margin-top: 8px;
}

span.welcome{
	display:block;
	color:white;
	padding:10px;
}

.brand{
  font-family: 'Sancreek', cursive;
}

.reasonText{
  width:100%;
  height:auto;
  padding: 1px 1px;
}

.letters{
  li{
    width:100%;
    .voteCount{
      display: flex;
      flex-direction: column;
      align-content: flex-end;
      justify-content: flex-end;
      .countNumber{
        float: left;
        height:25px;
        font-size:20px;
        padding-top: 10px;
        text-align: center;
      }
      a{
        padding: 1px 10px 1px;
      }
    }
    .personalInfo{
      display: flex;
      flex-direction: row;
      align-content: flex-end;
      justify-content: flex-end;

      .names{
        text-align:right;
        padding-right:5px;
      }
      .imageWrapper{
        height: 48px;
        padding: 6px;

      }
    }
  }
  .letterDescription{
    max-height:200px;
    overflow:hidden;
  }
  .letterDescription43{
    overflow: hidden;
  }
}

.recentsTable{
  .info{
    padding-left:5px;
    .timeAgo{
      color: #999;
    }
  }
}

footer{
  text-align:center;
}
