env:
  RUBY_VERSION: 2.4
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  POSTGRES_DB: postgres

name: Rails Tests
on: [push, pull_request]
jobs:
  rspec-test:
    name: RSpec
    runs-on: ubuntu-18.04
    services:
      postgres:
        image: postgres:latest
        ports: ["5432:5432"]
        env:
          POSTGRES_USER: ${{ env.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ env.POSTGRES_PASSWORD }}
    steps:
      -uses: actions/checkout@v2
      -uses: actions/setup-ruby@v2
       with:
          ruby-version: ${{ env.RUBY_VERSION }}
      -name: Install PostgreSQL
       run: sudo apt-get install libpq-dev
      -name: Install dependencies
       run: |
          gem install bundler
          bundle install
      -name: Setup database
       run: |
          bundle exec rails db:create RAILS_ENV=test
          bundle exec rails db:migrate RAILS_ENV=test
      -name: Run tests
       run: bundle exec rspec spec
      
    